In [1]:
#Importing libraries
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA, TruncatedSVD

In [2]:
#Read Database
data = pd.read_csv('rating_final.csv')

In [3]:
data.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [4]:
ratings = data[['rating','food_rating','service_rating']].copy()

In [5]:
ratings.head()

   rating  food_rating  service_rating
0       2            2               2
1       2            2               1
2       2            2               2
3       1            2               2
4       1            1               2

In [6]:
ratings['rating'] = ratings.sum(axis=1)

In [7]:
ratings.head()

   rating  food_rating  service_rating
0       6            2               2
1       5            2               1
2       6            2               2
3       5            2               2
4       4            1               2

In [8]:
ratings=ratings.drop(ratings.columns[[1,2]], 1)

In [9]:
ratings.head()

   rating
0       6
1       5
2       6
3       5
4       4

In [10]:
ratings=ratings.div(9)

In [11]:
ratings.head()

     rating
0  0.666667
1  0.555556
2  0.666667
3  0.555556
4  0.444444

In [12]:
ratings=ratings.mul(3)

In [13]:
ratings.head()

     rating
0  2.000000
1  1.666667
2  2.000000
3  1.666667
4  1.333333

In [14]:
data = data.drop(data.columns[[3,4]], 1)

In [15]:
data.head()

  userID  placeID  rating
0  U1077   135085       2
1  U1077   135038       2
2  U1077   132825       2
3  U1077   135060       1
4  U1068   135104       1

In [16]:
frames = [data,ratings]

In [17]:
data.rating = ratings.rating.copy()

In [18]:
data.head()

  userID  placeID    rating
0  U1077   135085  2.000000
1  U1077   135038  1.666667
2  U1077   132825  2.000000
3  U1077   135060  1.666667
4  U1068   135104  1.333333

In [25]:
# Spliting data
from surprise.model_selection import train_test_split
from surprise import SVD
from surprise import Reader, Dataset

In [26]:
reader = Reader(rating_scale=(1,3))

In [27]:
dataset = Dataset.load_from_df(data,reader)

In [30]:
trainset, testset = train_test_split(dataset, test_size=0.25)

In [31]:
trainset

In [32]:
model = SVD(n_factors=100)

In [33]:
model.fit(trainset)