In [58]:
#Importing libraries
import sys
import random
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA, TruncatedSVD

my_seed = 1337
random.seed(my_seed)
np.random.seed(my_seed)

In [59]:
#Read Database
data = pd.read_csv('rating_final.csv')

In [60]:
data.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [61]:
ratings = data[['rating','food_rating','service_rating']].copy()

In [62]:
ratings.head()

   rating  food_rating  service_rating
0       2            2               2
1       2            2               1
2       2            2               2
3       1            2               2
4       1            1               2

In [63]:
ratings['rating'] = ratings.sum(axis=1)

In [64]:
ratings.head()

   rating  food_rating  service_rating
0       6            2               2
1       5            2               1
2       6            2               2
3       5            2               2
4       4            1               2

In [65]:
ratings=ratings.drop(ratings.columns[[1,2]], 1)

In [66]:
ratings.head()

   rating
0       6
1       5
2       6
3       5
4       4

In [67]:
ratings=ratings.div(9)

In [68]:
ratings.head()

     rating
0  0.666667
1  0.555556
2  0.666667
3  0.555556
4  0.444444

In [69]:
ratings=ratings.mul(3)

In [70]:
ratings.head()

     rating
0  2.000000
1  1.666667
2  2.000000
3  1.666667
4  1.333333

In [71]:
data = data.drop(data.columns[[3,4]], 1)

In [72]:
data.head()

  userID  placeID  rating
0  U1077   135085       2
1  U1077   135038       2
2  U1077   132825       2
3  U1077   135060       1
4  U1068   135104       1

In [73]:
frames = [data,ratings]

In [74]:
data.rating = ratings.rating.copy()

In [75]:
data.head()

  userID  placeID    rating
0  U1077   135085  2.000000
1  U1077   135038  1.666667
2  U1077   132825  2.000000
3  U1077   135060  1.666667
4  U1068   135104  1.333333

In [76]:
# Spliting data!

from surprise.model_selection import train_test_split
from surprise import SVD
from surprise import Reader, Dataset
import numpy as np
from typing import *
from IPython.display import display, HTML, Markdown

In [77]:
reader = Reader(rating_scale=(1,3))

In [78]:
dataset = Dataset.load_from_df(data,reader)

In [79]:
trainset, testset = train_test_split(dataset, test_size=0.25)

In [80]:
trainset

In [81]:
model = SVD(n_factors=100)

In [82]:
model.fit(trainset)

In [83]:
model.qi.shape

(130, 100)

In [94]:
from scipy.spatial.distance import cosine


def get_vector_by_movie_title(movie_title: str, trained_model: SVD) -> np.array:
    """Returns the latent features of a movie in the form of a numpy array"""
    movie_row_idx = trained_model.trainset._raw2inner_id_items[movie_title]
    return trained_model.qi[movie_row_idx]


def cosine_distance(vector_a: np.array, vector_b: np.array) -> float:
    """Returns a float indicating the similarity between two vectors"""
    return cosine(vector_a, vector_b)

In [95]:
item_to_row_idx: Dict[Any, int] = model.trainset._raw2inner_id_items

display(item_to_row_idx)

{132925: 0,
 135047: 1,
 135041: 2,
 132834: 3,
 132921: 4,
 135063: 5,
 135075: 6,
 135080: 7,
 135044: 8,
 135106: 9,
 135042: 10,
 132951: 11,
 135060: 12,
 134983: 13,
 135108: 14,
 132733: 15,
 135028: 16,
 135085: 17,
 135082: 18,
 135039: 19,
 135032: 20,
 132830: 21,
 135025: 22,
 132955: 23,
 135045: 24,
 132862: 25,
 134992: 26,
 132825: 27,
 132872: 28,
 135058: 29,
 135027: 30,
 135072: 31,
 132723: 32,
 132773: 33,
 135104: 34,
 135054: 35,
 132958: 36,
 134999: 37,
 132870: 38,
 135086: 39,
 135043: 40,
 132768: 41,
 132875: 42,
 132846: 43,
 132630: 44,
 132766: 45,
 132856: 46,
 135062: 47,
 135051: 48,
 135046: 49,
 135016: 50,
 132754: 51,
 135013: 52,
 135065: 53,
 135064: 54,
 135052: 55,
 132954: 56,
 132608: 57,
 135071: 58,
 135059: 59,
 135079: 60,
 135076: 61,
 135049: 62,
 135069: 63,
 135088: 64,
 135038: 65,
 134996: 66,
 132663: 67,
 132922: 68,
 132755: 69,
 132572: 70,
 135026: 71,
 132584: 72,
 132561: 73,
 134986: 74,
 132594: 75,
 132740: 76,
 135030: 77,
 135021: 78,
 135011: 79,
 132869: 80,
 135018: 81,
 135081: 82,
 135055: 83,
 132858: 84,
 132767: 85,
 132847: 86,
 132706: 87,
 132732: 88,
 135035: 89,
 132877: 90,
 132717: 91,
 135053: 92,
 135070: 93,
 135057: 94,
 134976: 95,
 135066: 96,
 132851: 97,
 135019: 98,
 132613: 99,
 135074: 100,
 135034: 101,
 132564: 102,
 132861: 103,
 135001: 104,
 132885: 105,
 132854: 106,
 135048: 107,
 135050: 108,
 132654: 109,
 132667: 110,
 132626: 111,
 135033: 112,
 132583: 113,
 134987: 114,
 132665: 115,
 132609: 116,
 132884: 117,
 135000: 118,
 132660: 119,
 132668: 120,
 132845: 121,
 132866: 122,
 132715: 123,
 134975: 124,
 132937: 125,
 135040: 126,
 135073: 127,
 132560: 128,
 135109: 129}

In [96]:
a_user = "U1077"
a_product = "135060"
model.predict(a_user, a_product)

Prediction(uid='U1077', iid='135060', r_ui=None, est=1.2753553798521906, details={'was_impossible': False})

In [97]:
def get_top_similarities(movie_title: str, model: SVD) -> pd.DataFrame:
    """Returns the top 5 most similar movies to a specified movie
    
    This function iterates over every possible movie in MovieLens and calculates
    distance between `movie_title` vector and that movie's vector.
    """
    
    # Get the first movie vector
    movie_vector: np.array = get_vector_by_movie_title(movie_title, model)
    similarity_table = []
    
    # Iterate over every possible movie and calculate similarity
    for other_movie_title in model.trainset._raw2inner_id_items.keys():
        other_movie_vector = get_vector_by_movie_title(other_movie_title, model)
        
        # Get the second movie vector, and calculate distance
        similarity_score = cosine_distance(other_movie_vector, movie_vector)
        similarity_table.append((similarity_score, other_movie_title))
    
    # sort movies by ascending similarity
    return display(sorted(similarity_table))

In [100]:
get_top_similarities(135060, model)

[(0.0, 135060),
 (0.8044910286113957, 132834),
 (0.8177596948919518, 134976),
 (0.838351234708343, 132755),
 (0.8387313883295311, 132660),
 (0.845800368174341, 135109),
 (0.8500798289821629, 132870),
 (0.8518814260167586, 132885),
 (0.8664145668673461, 135021),
 (0.8727142425230296, 132667),
 (0.8758501817780345, 132583),
 (0.8811037281556295, 132654),
 (0.8840210546536923, 135011),
 (0.8840826584246629, 135013),
 (0.8867413145633973, 135057),
 (0.8881429367124906, 135028),
 (0.8881535816483963, 135039),
 (0.8937594008717191, 132740),
 (0.8953206245618573, 132921),
 (0.9051334077791663, 132715),
 (0.9083429166472277, 135016),
 (0.9155502226308431, 132856),
 (0.9201389893405143, 135001),
 (0.9209067396663944, 135082),
 (0.923051753056026, 132872),
 (0.9238519930207022, 135030),
 (0.924339997832078, 135018),
 (0.9254267989323037, 135058),
 (0.9278503044660449, 132851),
 (0.9287030604074378, 135055),
 (0.9294942566311101, 132875),
 (0.9350967010784798, 132825),
 (0.9361479803311601, 132668),
 (0.9396728557145888, 135086),
 (0.9416247778772312, 135026),
 (0.9442012542554946, 132830),
 (0.9475452280044926, 135041),
 (0.9486427282406892, 135054),
 (0.9490612145987244, 132665),
 (0.9542720583185486, 135049),
 (0.9567742878032868, 132609),
 (0.9579906243055943, 135085),
 (0.9601330622601207, 132723),
 (0.9615557208822143, 135042),
 (0.9619606818774884, 134999),
 (0.9639329822053623, 132847),
 (0.9642318485637555, 135071),
 (0.9652022141245488, 132955),
 (0.9679781807669895, 132877),
 (0.9682390095241031, 132846),
 (0.9701852349388496, 135059),
 (0.9714685664787908, 134986),
 (0.9738685224793961, 134992),
 (0.9763864389540066, 132937),
 (0.9810457597045669, 135034),
 (0.9843683984547266, 135044),
 (0.9870943289666004, 135088),
 (0.9896638397195834, 135035),
 (0.9929323093772565, 135106),
 (0.9964523578877388, 135050),
 (0.9966560400066391, 135104),
 (0.9974237874026354, 135046),
 (0.9991216922512647, 132954),
 (0.9998235572074284, 135072),
 (0.9999771292479787, 132861),
 (1.0004776809396811, 135048),
 (1.0037844405013783, 135070),
 (1.004098512338741, 132594),
 (1.0067190908034576, 134996),
 (1.006915214732831, 135064),
 (1.0153490010968287, 135063),
 (1.0215817967983696, 135075),
 (1.02166646593844, 135040),
 (1.0222948309610427, 132608),
 (1.0231074089416463, 135069),
 (1.0249507631234889, 135051),
 (1.0257315110706307, 135079),
 (1.0264701982368416, 132613),
 (1.027842280914058, 132766),
 (1.0294857499490708, 132958),
 (1.0329683962844136, 132862),
 (1.0340768175241928, 132706),
 (1.0351342823499048, 135033),
 (1.0408441768124743, 132732),
 (1.0409908226088012, 132884),
 (1.0421131626564017, 132626),
 (1.0451686553607138, 135047),
 (1.0479423891510866, 134987),
 (1.0482167645985814, 132630),
 (1.048894888911092, 135032),
 (1.049184942664175, 132866),
 (1.0496127259860688, 135045),
 (1.0506205501359804, 135019),
 (1.0515008668296526, 134975),
 (1.0532367798818039, 132560),
 (1.0588643797698007, 135066),
 (1.0601578960558675, 135052),
 (1.0622084309153599, 135038),
 (1.064866610159231, 132768),
 (1.0719008201345284, 135027),
 (1.0726555585411124, 135053),
 (1.0771939752652129, 135025),
 (1.079621831647758, 132925),
 (1.0809944955721467, 132733),
 (1.0820835501763324, 132951),
 (1.0823671009842357, 132922),
 (1.0841087414747939, 135062),
 (1.0841739058431221, 132845),
 (1.0854019155513606, 132869),
 (1.0859547658219684, 134983),
 (1.0876104826512265, 132561),
 (1.0885004788523454, 135000),
 (1.09601060071463, 132584),
 (1.1004088509317826, 135080),
 (1.102903834744596, 132572),
 (1.1139074041645787, 132773),
 (1.1157199611370712, 135043),
 (1.1190652413849198, 135081),
 (1.1242795200353737, 132663),
 (1.151399784693852, 132564),
 (1.1530012294008363, 132754),
 (1.1556637166633517, 132854),
 (1.1629181170374856, 135065),
 (1.166426415183871, 132717),
 (1.1756577362434282, 132858),
 (1.1892592349209612, 135073),
 (1.198763072226457, 135076),
 (1.214295728017877, 135108),
 (1.2161303290692849, 132767),
 (1.2908918761407162, 135074)]

In [101]:
get_top_similarities(132825, model)

[(0.0, 132825),
 (0.7163116032542982, 135016),
 (0.7432624748525993, 135048),
 (0.7445641791854728, 132866),
 (0.7906729816245338, 135043),
 (0.7916825390615803, 132872),
 (0.7955124374291032, 132609),
 (0.8219363000683576, 132630),
 (0.8223536057152223, 135069),
 (0.8290695740926013, 132667),
 (0.8471390869642705, 135046),
 (0.8512581236008621, 135019),
 (0.8513467581356862, 135042),
 (0.8536978082128449, 135027),
 (0.855916722691708, 132564),
 (0.8628533953011674, 135055),
 (0.8640022722959616, 135033),
 (0.8654189700415891, 135034),
 (0.8708175116075615, 132884),
 (0.8782102467840458, 135045),
 (0.8785266696218925, 135057),
 (0.8889764371886973, 135076),
 (0.8931613958894729, 135047),
 (0.8997974069438519, 132861),
 (0.9010478589209665, 132668),
 (0.9050775055780339, 135088),
 (0.9078393529761244, 132885),
 (0.9116739265344224, 135049),
 (0.9132360949914616, 134992),
 (0.9161057307866541, 132875),
 (0.916872179453601, 134975),
 (0.9176115839211965, 132560),
 (0.9188171290374326, 132870),
 (0.9192966419602229, 132665),
 (0.9196775198677241, 135079),
 (0.9263379269049711, 132768),
 (0.9268869648022595, 135106),
 (0.9345000509879203, 132951),
 (0.9350967010784798, 135060),
 (0.9420325574026985, 135035),
 (0.9458751001540573, 135064),
 (0.9462182249790932, 132706),
 (0.9473647988721312, 135052),
 (0.9490081850979394, 135000),
 (0.9513274910355293, 135001),
 (0.9525322305272205, 135109),
 (0.9534401789330478, 132862),
 (0.9544110413535738, 135032),
 (0.9555458264658884, 132834),
 (0.9559567839119681, 135081),
 (0.9574253013674158, 135030),
 (0.9579883732048647, 132937),
 (0.9606801541414842, 134983),
 (0.9625418737170149, 135082),
 (0.9628068101013175, 135041),
 (0.9723115674192522, 132561),
 (0.9759593706438545, 135028),
 (0.9759903022047279, 135053),
 (0.9769893431040082, 134976),
 (0.9790005644933855, 132715),
 (0.9810162802543488, 132754),
 (0.9850654812568757, 135066),
 (0.985313646003518, 135063),
 (0.9859950835654703, 132846),
 (0.9893548828864253, 135070),
 (0.9919559350211435, 132767),
 (0.9981299438970752, 135039),
 (0.9983426307790395, 135058),
 (0.9984566225298541, 132925),
 (1.007233923160585, 132854),
 (1.0079570773721558, 135074),
 (1.0126790855751955, 135038),
 (1.012989392558089, 134986),
 (1.017087458463704, 132723),
 (1.0211616364722997, 135072),
 (1.0240533363916382, 132856),
 (1.0247678615344848, 132572),
 (1.0249966674713558, 135086),
 (1.0282496561862566, 135051),
 (1.029148276725286, 135085),
 (1.0373458619396754, 132958),
 (1.0394937490162584, 132830),
 (1.040451317114895, 135021),
 (1.0438529250037998, 132766),
 (1.046560783613319, 132732),
 (1.0531725019558251, 135071),
 (1.053503595066563, 132851),
 (1.054443967073222, 132717),
 (1.057072551009113, 135013),
 (1.0574675788656547, 132922),
 (1.0577498029570336, 135062),
 (1.057880439846029, 132583),
 (1.058884565541252, 132733),
 (1.0601516687768713, 135025),
 (1.0629828188523722, 132847),
 (1.0631847930016611, 135011),
 (1.0644384012756505, 135040),
 (1.06580637094891, 134987),
 (1.0702486307337822, 135104),
 (1.0707330120917042, 135073),
 (1.0731017538536964, 132594),
 (1.0744014896322323, 135026),
 (1.0782991477453194, 135050),
 (1.0804787799789024, 132654),
 (1.0818910983889665, 132858),
 (1.0827762459471622, 135044),
 (1.0867447024683905, 135075),
 (1.0869567305046381, 132955),
 (1.093849286110805, 135108),
 (1.0959954688429543, 132877),
 (1.0964463942133904, 135080),
 (1.0977457454954707, 132954),
 (1.0984771406286429, 132755),
 (1.1017122277510287, 134996),
 (1.1020995475217636, 132613),
 (1.1051514520340633, 132921),
 (1.1057046373086774, 132740),
 (1.1310534150301066, 132660),
 (1.1321974855390016, 132773),
 (1.1378506583239854, 134999),
 (1.1413536895255671, 132869),
 (1.1584094355431116, 135059),
 (1.1794511428218544, 132845),
 (1.1884125214099004, 135054),
 (1.1930298494278444, 132584),
 (1.2043694388751687, 132663),
 (1.209754693368704, 132608),
 (1.2134285962553717, 135018),
 (1.2184119346506415, 135065),
 (1.2205291246164225, 132626)]