In [2]:
#Importing libraries
import pandas as pd
import numpy as np

In [4]:
#Read Database
data = pd.read_csv('data.csv')

In [10]:
data.head()

,Unnamed: 0,user 1,user 2,user 3,user 4,user 5,user 6,user 7,user 8,user 9,...,user 41,user 42,user 43,user 44,user 45,user 46,user 47,user 48,user 49,user 50
0,item 1,4.0,NaN,3.0,NaN,4.0,NaN,2.0,4.0,NaN,...,NaN,4.0,NaN,5.0,3.0,2.0,NaN,4.0,NaN,5.0
1,item 2,NaN,4.0,NaN,3.0,NaN,4.0,NaN,4.0,NaN,...,5.0,NaN,3.0,NaN,NaN,4.0,NaN,NaN,4.0,NaN
2,item 3,3.0,NaN,4.0,NaN,3.0,NaN,4.0,NaN,2.0,...,3.0,NaN,3.0,NaN,5.0,NaN,3.0,3.0,NaN,3.0
3,item 4,3.0,NaN,3.0,NaN,1.0,NaN,3.0,2.0,NaN,...,NaN,3.0,NaN,1.0,NaN,3.0,2.0,NaN,3.0,2.0
4,item 5,3.0,NaN,3.0,NaN,4.0,NaN,NaN,NaN,3.0,...,3.0,NaN,3.0,NaN,4.0,NaN,2.0,4.0,NaN,5.0